@import "tailwindcss";

.fondo {
    background-image: url(assets/img/background-stars.svg);
    background-color: #070724;
}
@media (min-width: 768px) { 
    .fondo {
        height: 100vh;
    }
}

.gris {
    color: #838391;
}

/* Fuentes */
.font-antonio {
    font-family: "Antonio", sans-serif;
}
.font-spartan {
    font-family: "League Spartan", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.border {
    border: 1px solid #38384F;
}